<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume Bruno Gabriel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>

    <div class="container" id="app">
        <div class="page-header">
            <h1>{{member.name}} <small><a :href="'mailto:' + member.email">{{member.email}}</a></small></h1>
        
            <div class="social">
                <a v-for="item in socialNetworks" :href="item.link">
                    <i :class="'fa ' + item.cssClass + ' fa-2x' + ' pull-right'" aria-hidden="true"></i>
                </a>
            </div>

            <div v-html="member.resume"></div>

            <ul>
                <li v-for="item in programmingLanguages">{{ item }}</li>
            </ul>
        
        </div>

        <div class="page-header">
            <h3>Education</h3>
            <div v-for="item in schools">
                <h4>{{item.period}} - {{item.name}}</h4>
                <p>{{item.degree}}</p>
            </div>
        </div>

        <div class="page-header">
            <h3>Profissional Experiences</h3>
            <div v-for="(item, index) in experiences">
                <h4>{{item.period}} | {{item.company}}</h4>
                <h5>{{item.title}}</h5>
                <p>{{item.resume}}</p>
                <div v-if="item.highlights">
                    <p>Highlights:</p>
                    <ul>
                        <li v-for="highlight in item.highlights">{{highlight}}</li>
                    </ul>
                </div>
                <span v-if="index != Object.keys(experiences).length - 1"><br></span>
            </div>
        </div>

        <div class="page-header">
            <h3>Publications</h3>
            <div v-for="(item, index) in publications">
                <h4>{{item.title}}</h4>
                <p><a :href="item.link">{{item.conference}}</a></p>
                <p>Abstract: {{item.resume}}</p>
                <span v-if="index != Object.keys(experiences).length - 1"><br></span>
            </div>
        </div>

        <div class="page-header">
            <h3>Extra informations</h3>
            <ul>
                <li v-for="item in extraInformations">{{item}}</div>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>